.titre {
    font-family: serif, "Times New Roman";
    margin-bottom: 30px;
    text-align: center;
}

.card-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
    width: 470px;
}

.card {
    width: 150px;
    height: 150px;
    font-family: serif, "Times New Roman";
    color: #ee813e;
    justify-content: center;
    text-align: center;
    /*!*align-items: center;*!*/
    margin: auto;
    font-weight: bold;
    font-size: x-large;
    /*padding: 0;*/
}

/*.card:hover {*/
/*    background-color: black;*/
/*}*/

body {
    background-image: url("./world.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.front, .back {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin: 0;
    align-items: start;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.card {
    transition: transform 2s ease;
    transform-style: preserve-3d;
    position: relative;

}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    background-color: rgb(252, 240, 234);
    border-color: #fcf0ea;
}

.back {
    transform: rotateY(-180deg);
    background-color: #f19585;
    border-color: #f19585;
    color: white;
}

p {
    margin: 0;
    padding-top: 15px;
}